<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>com.p5sys.jump.mac.viewer</string>
	<key>CFBundleIdentifier</key>
	<string>net.sabi.LaunchBar.action.JumpDesktopConnections</string>
	<key>CFBundleName</key>
	<string>Jump Desktop Connections</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>LBAssociatedApplication</key>
	<string>com.p5sys.jump.mac.viewer</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Nicholas Riley</string>
		<key>LBChangelog</key>
		<string>
			1.1: Properly display Fluid connections and generic OS icons. Support automatic updates if you have the Action Updates action installed.
			1.0: Update for bug fix in Jump Desktop 6.7.1.
		</string>
		<key>LBDownloadURL</key>
		<string>https://github.com/nriley/LBJumpDesktop/releases/download/v1.1/Jump-Desktop-Connections-1.1.lbaction</string>
		<key>LBEmail</key>
		<string>launchbar@sabi.net</string>
		<key>LBRequirements</key>
		<string>Jump Desktop for Mac (tested with 8.1.6)</string>
		<key>LBResult</key>
		<string>The list of Jump Desktop connections.</string>
		<key>LBSummary</key>
		<string>This action returns a list of Jump Desktop connections.</string>
		<key>LBTwitter</key>
		<string>@nriley</string>
		<key>LBUpdateURL</key>
		<string>https://raw.githubusercontent.com/nriley/LBJumpDesktop/master/Jump%20Desktop%20Connections.lbaction/Contents/Info.plist</string>
		<key>LBWebsiteURL</key>
		<string>https://sabi.net/nriley/software/#launchbar</string>
	</dict>
	<key>LBMinimumLaunchBarVersion</key>
	<integer>6200</integer>
	<key>LBRequiredApplication</key>
	<string>com.p5sys.jump.mac.viewer</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.py</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016–19 Nicholas Riley</string>
</dict>
</plist>
